<h1 class="pagetitle"><%= t(:new_link) %> beta &mdash;
  <%= Rails.application.config.server_name[:host] %></h1>

<div id="container">
  <p>
  <%= t(:not_available_url) %>
  </p>

  <p>
  <%= link_to t(:go_back), root_url %>
  </p>
</div>

