<div id="footer">
	<p class="footer">
    <a href="https://github.com/fsoppelsa/ushorty">Ushorty</a> <%= t(:released_under) %> <a href="http://www.opensource.org/licenses/bsd-license.php">
      <%= t(:bsd_license) %></a>
	</p>
</div>
