<div id="footer">
	<p class="footer">
		<a href="https://github.com/fsoppelsa/ushorty">Ushorty</a> is released under the terms of the <a href="http://www.opensource.org/licenses/bsd-license.php">BSD license</a>
	</p>
</div>
