$('div#hashed').html("<p> \
    <%= t(:your_hashed) %> \
    <form name=\"hashed\"> \
    <label></label><input type=\"text\" name=\"link\" value=\"<%= escape_javascript(@link.complete_hashed_url) %>\" onClick=\"select_all()\" /> \
    </form> \
    <%= t(:please_copy) %> \
    </p>").fadeIn('slow')
