<%
  @favo = "javascript:void(location.href='http://".to_s +
  Rails.application.config.server_name[:host].to_s +
  "/?myurl='+encodeURIComponent(location.href))".to_s 
%>

<div id="browser_favourite">
  <p>
  <%= image_tag "award.png" %>
  <%= link_to Rails.application.config.server_name[:host].to_s, j(@favo) %>
  </p>
</div>

<div id="favourite_explanation">
  <%= t(:favourite_explanation) %>
</div>

<div id="container">
<%= render 'form' %>
</div>


